<template>
  <div>
    <v-container v-if="users">
      <v-row>
        <v-col>
          <h1 class="primary--text">Verwaltung</h1>
          <h3 class="error--text mb-6">Liste aller Mitglieder:</h3>
        </v-col>
      </v-row>
      <v-row>
        <v-col/>
        <v-col class="d-flex justify-end">
          <AdminNavButtons/>
        </v-col>
      </v-row>
        <div>
          <div v-for="user in users" :key='user.id' class="ma-5">
            <UserListItem :id='user.id' :username='user.username' :role='user.role' :numberOfPosts='user.numberOfPosts' :numberOfComments='user.numberOfComments'/>
          </div>
        </div>
    </v-container>
    <v-container v-else>
      Daten werden erneut geladen...
    </v-container>
  </div>
  
</template>

<script>
import UserListItem from '@/components/UserListItem'
import store from "@/store/index.js"
import AdminNavButtons from '@/components/AdminNavButtons'

export default {

  name: 'App',
  data:() => ({
    comment: ""
  }),
  components: {
    UserListItem, AdminNavButtons
  },

  computed: {
    user() {
      return this.$store.state.user || {};
    },
    users() {
      return this.$store.state.userList
    }
  },
  beforeCreate(){
    store.dispatch('fetchAllUsers')
  }
}

</script>

<style>
.enduser{
  color:#FF6961 !important;

}
.moderator{
  color:#8DA290 !important;
}

.v-text-field > .v-input__control > .v-input__slot::after {
    background-color: #8DA290 !important;
    border-color: #8DA290 !important;
}
.theme--light.v-input input, .theme--light.v-input textarea {
    color: #8DA290 !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot::before,
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot::before {
    border-color: #8DA290 !important;
}
.v-input__slot::before,
.theme--light.v-label {
    color: #8DA290 !important;
}



</style>