<template>
<div>
    <div class="errorPadder"/>
    <h1
     class="error--text text-center"
    >
     Du bist bereits angemeldet, bitte logge dich aus um fortzufahren!
    </h1>
    <div class="logoutBtnStyle mt-12">
        <v-btn
         class="text-none"
         color="error"
         x-large
         @click="dispatchLogout"
        >
            Logout
        </v-btn>
    </div>
</div>
</template>

<script>
export default {
    methods: {
      dispatchLogout(){
        this.$store.dispatch('logout');
        this.$router.push('/');
      }
    }
}
</script>

<style scoped>
.errorPadder {
    height: 5rem;
}
.logoutBtnStyle {
    display: flex;
    justify-content: center;
}
</style>