<template>
<div>
    <div class="errorPadder"/>
    <h1
     class="error--text text-center"
     v-if="this.$store.state.user.role === 'MODERATOR'"
    >
     Dieser Bereich ist nur Administratoren zugänglich!
    </h1>
    <h1
     class="error--text text-center"
     v-else
    >
     Du hast keine Berechtigung, um diese Seite zu sehen!
    </h1>
</div>
</template>

<script>
export default {
    computed: {
        user() {
            return this.$store.state.user || {};
        }
    }
}
</script>

<style scoped>
.errorPadder {
    height: 5rem;
}

</style>