<template>
<div>
    <LPLogo/>
    <landing-page-logo/>
    <div id='scrollToMe' @click="isHidden = !isHidden; $vuetify.goTo('#scrollToMe')">
      <discover-button/>
    </div>
      <div v-show="isHidden"/>
      <div class="lpPadderDiv">
  </div>
     <v-container>
      <div v-show="!isHidden" class="mb-16">
        Du hast selbst Ideen wie man dein Grätzl verschönern könnte? Dir ist aufgefallen dass Bedarf für 
        etwas besteht oder möchtest einfach nur durch die Vorschläge von anderen GrätzlerInnen blättern?
        <br>
        <br>
        Die Grätzlmap ist die Plattform, um deine Ideen aufzuzeigen, sie mit anderen begeisterten 
        Wienerinnen und Wienern zu teilen und dich in leidenschaftliche Diskussionen zu stürzen!
        <br>
        <br>
        <h3 class="primary--text">Ob Urban Gardening, Fahrradinfrastruktur oder Sitzgelegenheiten:</h3>
        <br>
        Es gibt viele Möglichkeiten und Ansätze, etwas Gutes noch besser zu machen. Ob es um Begrünungsanlagen geht,
        bessere Infrastruktur oder Abstellmöglichkeiten für deinen Drahtesel.
        Was auch immer deine Leidenschaft ist, die Grätzlmap ist da, um dein Wien noch schöner zu machen!
        <br>
        <br>
        <h3 class="primary--text">Wie funktioniert's?</h3>
        <br>
        Um bereits erstellte Einträge zu sehen, klicke auf unserer <router-link class="linkStyle font-weight-bold" to="/karte">Karte</router-link> einfach 
        auf die entsprechenden Marker, oder scrolle durch 
        die <router-link class="linkStyle font-weight-bold" to="/eintraege">Gesamtübersicht aller Einträge</router-link>.
        <br>
        <br>
        Nach der <router-link class="linkStyle font-weight-bold" to="/registrieren">Registrierung</router-link> kannst du selbst Einträge erstellen und vorhandene Einträge kommentieren.
        <br>
        <br>
        <br>
        <div class="">
          Du hast Lust, mitzumachen?
          <br>
          <br>
          <br>
          <router-link class="text-center" to="/registrieren"><h1>
          Dann werde jetzt zum Grätzler!</h1>
          </router-link>
        </div>
        <v-btn
            v-scroll="onScroll"
            v-show="fab"
            fab
            dark
            fixed
            bottom
            right
            color="accent"
            @click="toTop"
          >
            <v-icon
             class="white--text"
            >
              mdi-arrow-collapse-up
            </v-icon>
          </v-btn>
      </div>
        
     </v-container>

</div>
</template>

<script>
// import * as easings from 'vuetify/lib/services/goto/easing-patterns'
import DiscoverButton from '../components/DiscoverButton.vue'
import LandingPageLogo from '../components/LandingPageLogo.vue'
import LPLogo from '../components/LPLogo.vue'

export default {
  components: { DiscoverButton, LandingPageLogo, LPLogo },
  data: () => ({
    isHidden: true,
    fab: false    
  }),
  methods: {
    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 20
    },
    toTop () {
      this.$vuetify.goTo(0)
    }
  }
      
    
  
}
</script>

<style>
.lpPadderDiv {
    height: 4rem;
}
.linkStyle {
  text-decoration: none;
}
</style>