<template>
    <v-container>
    <h1 class="primary--text mb-4">Kategorien:</h1>
      <v-row dense>
        <v-col
          v-for="card in cards"
          class="pa-3"
          :key="card.title"
          :cols="cols"
          @click="$router.push({path: `/kategorien/${card.title}`})"
        >  
          <v-card
            class="cardStyle secondary pb-4"
            ripple
          >
               <v-card-title class="cardStyle primary--text font-weight-bold text-center">{{ card.title }}</v-card-title>
            <div class="iconWrapper">
              <v-icon
                size="6rem"
                color="primary"
              >
                {{ card.src }}
              </v-icon>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
</template>
 
<script>
  export default {
    data: () => ({
      cards: [
        { title: 'GRÜNFLÄCHEN', src: 'mdi-grass', flex: 4 },
        { title: 'VERKEHRSSICHERHEIT', src: 'mdi-car', flex: 4 },
        { title: 'WEGE', src: 'mdi-road-variant', flex: 4 },
        { title: 'NUTZFLÄCHEN', src: 'mdi-pickaxe', flex: 4 },
        { title: 'AKTIVITÄTEN', src: 'mdi-tennis', flex: 4 },
        { title: 'SONSTIGES', src: 'mdi-dots-horizontal', flex: 4 },
      ],
    }),
    computed: {
        cols () {
        switch (this.$vuetify.breakpoint.name) {
            case 'xs': return "12"
            case 'sm': return "6"
            case 'md': return "6"
            case 'lg': return "4"
            case 'xl': return "4"
            default: return "12"
        }
        },
    }
  }
</script>

<style>
.cardStyle {
  cursor: pointer;
  justify-content: center;
}
.iconWrapper {
  display: flex;
  justify-content: center;
}
</style>