<template>
  <div class="mb-12">
    <v-container v-if="this.$store.state.posts">
      <v-row>
        <v-col>
          <h1 class="primary--text ms-2">{{title}}:</h1>
          <h3 class="primary--text ms-2">{{ this.$route.params.category }}</h3>
          <h3 class="primary--text ms-2">{{ this.$route.params.district }}</h3>
        </v-col>
      </v-row>
      <v-row>        
        <v-col cols=12 md="5" lg="4" xl="3">
          <v-overflow-btn          
            class="my-2"
            :items="items"
            v-model="filter"
            label="Sortieren nach: Datum (neueste)"
            dense
          ></v-overflow-btn>   
        </v-col>
        <v-col class="hidden-sm-and-down ">
          <div class="d-flex justify-end">
            <v-btn 
            v-if="user.role != null"
            to="/erstellen"
            class="primary text-none ms-10 mt-2 mb-2" 
            >
            Neuen Eintrag erstellen
            </v-btn> 
          </div>
        </v-col>
     
          <v-container v-for="post in posts" :key='post.id'>
            <Post :post=post />
          </v-container>
      </v-row>
              <!-- floating button mobile only -->
          <v-btn
            class="floatBtn hidden-md-and-up mx-2"
            fab
            color="accent"
            to="/erstellen"
            v-if="user.role != null"
          >
            <v-icon class="white--text">
              mdi-plus
            </v-icon>
          </v-btn>
    </v-container>
    <v-container v-else>
      Daten werden erneut geladen...
    </v-container>
  </div>
</template>

<script>
import store from "@/store/index.js";
import Post from "@/components/Post"

export default {

  name: 'App',
  data:() => ({
    filter: "Sortieren nach: Datum (neueste)",
    items: ['Sortieren nach: Datum (neueste)', 'Sortieren nach: Datum (älteste)', 'Sortieren nach: Likes', 'Sortieren nach: Dislikes'],
  }),
  components: {
    Post
  },
  computed: {
    posts() {
      //depending on route switch returns pre-filtered posts or all
      switch(Object.keys(this.$route.params)[0]) {
        case "category":
          store.state.posts = store.getters.postsByCategory(this.$route.params.category)
          return this.getter
        case "district":
          store.state.posts = store.getters.postsByDistrict(this.$route.params.district)
          return this.getter
        default:
          return this.getter
      }
    },

    getter() {
      switch(this.filter) {
        case "Sortieren nach: Datum (neueste)":
          return store.state.posts
        case "Sortieren nach: Datum (älteste)":
          return store.getters.postsByDateAsc
        case "Sortieren nach: Likes":
          return store.getters.postsByLikes
        case "Sortieren nach: Dislikes":
          return store.getters.postsByDislikes
        default:
          return store.state.posts
      }
    },

    title(){
      switch(Object.keys(this.$route.params)[0]) {
        case "category":
          return "Einträge nach Kategorie"
        case "district":
          return "Einträge nach Bezirk"
        default:
          return "Alle Einträge"
      }
    },
    user() {
      return this.$store.state.user || {};
    },
  },
  created() {
    store.dispatch('fetchPosts')
  }
}

</script>

<style>
.v-select__selection--comma {
  color: #8DA290 !important;
}
.v-list-item .v-list-item__title, .v-list-item .v-list-item__subtitle {
  color: #8DA290 !important;
}
.v-select.v-input--dense .v-select__selection--comma {
    color: #8DA290 !important;
}
.v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, 
.v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
    color: #8DA290 !important;
}
.v-text-field > .v-input__control > .v-input__slot::after {
  background-color: #8da290 !important;
  border-color: #8da290 !important;
}
.theme--light.v-input input,
.theme--light.v-input textarea {
  color: #8da290 !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot::before,
.theme--light.v-text-field:not(.v-input--has-state):hover
  > .v-input__control
  > .v-input__slot::before {
  border-color: #8da290 !important;
}
.v-input__slot::before,
.theme--light.v-label {
  color: #8da290 !important;
}
.floatBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
.v-autocomplete.v-input > .v-input__control > .v-input__slot {
  cursor: pointer !important;
}
.v-autocomplete.v-select.v-input--is-focused input {
  min-width: 0px !important;
}


</style>