<template>
  <v-container>

<div class="pb-6">

      <h1 class="primary--text">
        Neuen Eintrag erstellen:
      </h1>
      <v-row class="justify-center mt-5">

        <div  class="ml-1 order-md-3 mb-5">
          <p class="text-h5 primary--text mb-2">Gewünschten Ort markieren:</p>    

            <Map :height='height' :width='width' col-6 />

        </div>  
        <!--    MAP DIV  -->

        <v-spacer v-if="this.$vuetify.breakpoint.mdAndUp" class="order-md-2"></v-spacer>

        <div :style='{width: width}' class="ml-1 order-md-1">  
          <form
            novalidate
            @submit.prevent="createNewPost()"
            class="postCreateStyle pt-3 secondary"
          >
            <v-text-field
              v-model="title"
              :counter="40"
              :error-messages="titleErrors"
              label="Titel"
              required
              class="mt-4 ms-4 me-4"
            ></v-text-field>

            <v-text-field
              v-model="text"
              :counter="255"
              :error-messages="textErrors"
              label="Beschreibung"
              required
              class="pb-5 ms-4 me-4"
            ></v-text-field>

          <v-row class="">
            <v-col
              class="d-flex"
              cols="12"
              sm="6"
            >
              <v-select
                v-model="category"
                :items="catItems"
                :error-messages="categoryErrors"
                label="Kategorie"
                dense
                required
                class="ms-4 me-4"
              ></v-select>
            </v-col>


            <v-col
              class="d-flex"
              cols="12"
              sm="6"
            >
              <v-select
                v-model="postalCode"
                :items="zipItems"
                :error-messages="postalCodeErrors"
                label="Bezirk"
                dense
                required
                class="ms-4 me-4"
              ></v-select>
            </v-col>

          </v-row>

            <div class="mt-5 ms-5 me-4 mb-4 primary--text">        
                <input
                  style="display: none"
                  type="file"
                  ref="fileInput"
                  @change="onFileSelected"
                >
                <v-btn @click="$refs.fileInput.click()"
                      color="primary"
                      class="text-none mb-2"
                      >Foto hinzufügen</v-btn>
                <span 
                class="ms-3">{{imgName}}</span>
                <br>
                <span style="color: #ff6961"
                  class="ma-n1">{{imgErrors[0]}}</span>
            </div>
            <v-row>
              <v-col>
                <v-btn  type="submit"
                        @click="validatePost"
                        color="primary"
                        class="text-none ml-5 mb-6"
                        
                >Neuen Beitrag erstellen
                </v-btn>
              </v-col>

              <v-col>
                <div
                  class="d-flex justify-center error--text mt-2"
                  v-if="submitStatus === 'MISSINGMAP'"
                >
                  Bitte Ort auf der Karte markieren!
                </div>
              </v-col>
            </v-row>
          </form> 
        </div >





      </v-row>
    
  </div>  


  </v-container>
  
</template>

<script>
import { required, maxLength, maxValue } from 'vuelidate/lib/validators'
import Map from '@/components/Map'
import store from "@/store/index.js"
import axios from 'axios'


export default {
  data:() => ({
    text:"",
    title:"",
    category:"",
    postalCode:"",
    imgName:"Kein Bild ausgewählt (optional)",
    zipItems: ['1010', '1020', '1030', '1040', '1050', '1060', '1070', '1080', '1090', '1100', '1110', '1120', '1130', '1140', '1150', '1160', '1170', '1180', '1190', '1200', '1210', '1220', '1230' ],
    catItems: ['GRÜNFLÄCHEN', 'VERKEHRSSICHERHEIT', 'WEGE', 'NUTZFLÄCHEN', 'AKTIVITÄTEN', 'SONSTIGES'],
    submitStatus: null,
    imgSize: 0
  }),
  components: {
    Map
  },
  validations: {
    text: {required, maxLength: maxLength(255)},
    title: {required, maxLength: maxLength(40)},
    category: {required},
    postalCode: {required},
    imgSize: { maxValue: maxValue(20971520) },
    long: {required}
  },
  methods:{
    async createNewPost(){
      if (this.submitStatus === null) {
        var newPostId
        try {
          newPostId = await store.dispatch('newMapPost',{
            title: this.title,
            text: this.text,
            category: this.category,
            postalCode: this.postalCode,
            latitude: store.state.currentLat,
            longitude: store.state.currentLong
          })
          this.$v.$reset();
          if(!this.selectedFile){
            this.checkIfEnduser()   
            this.$router.push('/eintraege') 
          }
            
        } catch (err) {
            if (err) {
            store.dispatch('getSnackbar', {color: 'error', text: 'Fehler beim Speichern des Posts...'}) 
            }
        }  
        if (this.selectedFile){
          try {
            const fd = new FormData();
            fd.append('image', this.selectedFile, this.selectedFile.name)
            await axios.post('/api/mapPost/picture/' + newPostId, fd, {
              onUploadProgress: uploadEvent => {
                // the following can later be used for loading screen until 100%
                console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100) + '%')
              }
            }) 
            this.checkIfEnduser()   
          } catch (err){
            if (err) {
              store.dispatch('getSnackbar', {color: 'error', text: 'Fehler beim Foto Upload. Der Beitrag wurde ohne Foto gespeichert'}) 
            }
          }
          this.$router.push('/eintraege') 
        }

      }
    },

    checkIfEnduser(){
      if(store.state.user && (store.state.user.role === 'ENDUSER'))
        store.dispatch('getSnackbar', {text: 'Beitrag erfolgreich zum Review übermittelt.'})
      else
        store.dispatch('getSnackbar', {text: 'Beitrag erfolgreich gespeichert.'})
    },

    validatePost(){
      this.$v.$touch()
      if(this.$v.text.$invalid ||
        this.$v.title.$invalid ||
        this.$v.category.$invalid ||
        this.$v.imgSize.$invalid ||
        this.$v.postalCode.$invalid) {
        this.submitStatus = 'ERROR'
      } else if(this.$v.long.$invalid) {
          this.submitStatus = 'MISSINGMAP'
      } else {
          this.submitStatus = null
        }
    },

    onFileSelected(event) {
    this.selectedFile = event.target.files[0]
    if(!this.selectedFile || this.selectedFile.type.indexOf('image/') !== 0) return
    this.imgName = `${this.selectedFile.name} (${String(this.selectedFile.size/1048576).slice(0, 4).replace(".", ",")} MB)`
    this.imgSize = this.selectedFile.size
    }
  },
  computed:{
    long() {
      return this.$store.state.currentLong
    },
    user() {
      return this.$store.state.user || {};
    },
    currentLat(){
      return this.$store.state.currentLat || {};
    },
    currentLong(){
      return this.$store.state.currentLong || {};
    },
    textErrors(){
      const errors = []
      if(!this.$v.text.$dirty) return errors
      !this.$v.text.maxLength && errors.push('Beschreibung darf nicht mehr als 255 Zeichen enthalten')
      !this.$v.text.required && errors.push('Beschreibung erforderlich')
      return errors
    },
    titleErrors(){
      const errors = []
      if(!this.$v.title.$dirty) return errors
      !this.$v.title.maxLength && errors.push('Titel darf nicht mehr als 40 Zeichen enthalten')
      !this.$v.title.required && errors.push('Titel erforderlich')
      return errors
    },
    categoryErrors(){
      const errors = []
      if(!this.$v.category.$dirty) return errors
      !this.$v.category.required && errors.push('Auswahl erforderlich')
      return errors
    },
    postalCodeErrors(){
      const errors = []
      if(!this.$v.postalCode.$dirty) return errors
      !this.$v.postalCode.required && errors.push('Auswahl erforderlich')
      return errors
    },
    imgErrors(){
      const errors = []
      if(!this.$v.imgSize.$dirty) return errors
      !this.$v.imgSize.maxValue && errors.push('Das Foto darf maximal 20 MB groß sein')
      return errors
    },
    height () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return "18rem"
        case 'sm': return "20rem"
        case 'md': return "23rem"
        case 'lg': return "23rem"
        case 'xl': return "23rem"
        default: return "23x"
      }
    },

    width () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return "86vw"
        case 'sm': return "90vw"
        case 'md': return "428px"
        case 'lg': return "572px"
        case 'xl': return "860px"
        default: return "80vw"
      }
    }    
  },
  mounted() {     
     this.$store.state.currentLong = null      
    }
}
</script>

<style>

.v-select.v-input--dense .v-select__selection--comma {
    color: #8DA290 !important;
}
.v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, 
.v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
    color: #8DA290 !important;
}
.form .v-icon.v-icon {
    color: #8DA290 !important;
}
.v-text-field > .v-input__control > .v-input__slot::after {
    background-color: #8DA290 !important;
    border-color: #8DA290 !important;
}
.theme--light.v-input input, .theme--light.v-input textarea {
    color: #8DA290 !important;
}

.theme--light.v-text-field > .v-input__dcontrol > .v-input__slot::before,
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot::before {
    border-color: #8DA290 !important;
}
.v-input__slot::before,
.theme--light.v-label {
    color: #8DA290 !important;
}
.postCreateStyle {
  box-shadow: 0px 10px 10px -10px #808080;
  border-radius: 5px;
}

.theme--light.v-counter {
  color: #8DA290 !important;
}

.v-application .error--text {
  color: #ff6961 !important;
  caret-color: #ff6961 !important;
}

</style>