<template>
  <v-app>
    <Navbar/>
    <!--vuetify recommends to wrap the router-views in v-main-->
        <v-container fluid>
          <v-main>
            <router-view class="mt-16"/>
            <CookieBanner/>
          </v-main>
        </v-container>
    <Footer/>
    
    <v-snackbar
      v-for="(snackbar, index) in snackbars.filter(snackbar => snackbar.showing)"
      :key="snackbar.text + Math.random()"
      v-model="snackbar.showing"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      top
      :style="`top: ${index * 58 + 6}px`">
      <div class="text-center">{{snackbar.text}}</div>
      <template v-slot:action="{ attrs }">
        <v-icon
          class="pa-1"
          color="white"
          text
          v-bind="attrs"
          @click="snackbar.showing = false"
        >
          mdi-close
        </v-icon>
      </template>
    </v-snackbar>

  </v-app>
</template>

<script>
import Navbar from './components/Navbar.vue'
import Footer from './components/Footer.vue'
import CookieBanner from './components/CookieBanner.vue'

export default {
  name: 'App',
  components: { Navbar, Footer, CookieBanner },
  data: () => ({
    //
  }),
  computed: {
    snackbars() {
      return this.$store.state.snackbars
    }
  }

};
</script>

<style>
#app {
  font-family: Century Gothic;
}

/*overwrites roboto-font for titles*/
.v-application .text-h1,
.v-application .text-h2,
.v-application .text-h3,
.v-application .text-h4,
.v-application .text-h5,
.v-application .text-h6 {
  font-family: Century Gothic !important; 
}



/* removes scrollbar if not required */
html { overflow-y: auto }

.v-text-field.v-input--dense.v-overflow-btn .v-input__prepend-inner, .v-text-field.v-input--dense.v-overflow-btn .v-input__append-inner {
  height: 38px;
}

</style>
