<template>
  <v-footer
    bottom    
    dark
    padless
    class="mt-auto"
  >
    <v-card
      flat
      tile
      class="primary white--text text-center"
      width="100%"
    >
      <v-card-text>
        <!-- social media icons -->
        <v-btn
          v-for="socialmedia in icons"
          :key="socialmedia.title"
          :href="socialmedia.linkTo"
          target="_blank"
          class="mx-4"
          icon
        >
          <v-icon
            size="24px"
            class="white--text"
          >
            {{ socialmedia.icon }}
          </v-icon>
        </v-btn>
      </v-card-text>
      <!-- copyright -->
      <v-card-text class="white--text">
        <span>© </span>
        {{ new Date().getFullYear() }} <span>- Grätzlmap</span>
      </v-card-text>

      <v-row
      justify="center"
      no-gutters
    >
    <!-- router links -->
      <v-btn
        v-for="footerlinks in links"
        :key="footerlinks.name"
        :to="footerlinks.path"
        color="white"
        text
        rounded
        active-class="no-active"
        class="my-2 text-capitalize"
      >
        {{ footerlinks.name }}
      </v-btn>      
    </v-row>    
    </v-card>
  </v-footer>
</template>

<script>
export default {
    data: () => ({
      icons: [
        { title: 'facebook', linkTo: 'https://www.facebook.com/', icon: 'mdi-facebook' },
        { title: 'twitter', linkTo: 'https://twitter.com/', icon: 'mdi-twitter' },
        { title: 'linkedin', linkTo: 'https://www.linkedin.com/', icon: 'mdi-linkedin' },
        { title: 'instagram', linkTo: 'https://www.instagram.com/', icon: 'mdi-instagram' },
      ],
      links: [
        { name: 'Home', path: '/' },
        { name: 'AGBs', path: '/nutzungsbedingungen' },
        { name: 'Team', path: '/team' },
        { name: 'Kontakt', path: '/contact' },
      ]
    })
}
</script>

<style>
/* disables vuetify button active class so it doesn't perma highlight when on same router view  */
.v-btn--active.no-active:hover {
  opacity: 0.5 !important;
}
.v-btn--active.no-active::before {
  opacity: 0 !important;
}
</style>