<template>
  <div>  
    <v-col>
        <v-row>
            <v-col>
                <div class="txtWrapperHeadline d-flex mb-n16">
                    <p class="primary--text">
                    Grätzlmap
                    </p>
                </div>
            </v-col>
            <div class="imgWrapperWrapper d-flex secondary ms-n3 me-n3 pt-4 pb-16">               
                <div class="imgWrapper mt-6">
                    <v-img src="@/assets/maplogo3.png" contain></v-img>
                </div>
            </div>
            <v-col>
                <div class="txtWrapperSubtitle d-flex secondary ms-n8 me-n8 pb-12 mt-n16">
                    <p class="primary--text text-center mobileMargin">
                        Communitybasierte Ideensammlung für die Gestaltung des öffentlichen Raums
                    </p>
                </div>
            </v-col>
        </v-row>
    </v-col>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
p {
    z-index: 10;
    user-select: none;
}
.mobileMargin {
    margin-left: 50px;
    margin-right: 50px;
}
.txtWrapperSubtitle {
    font-size: 0.8rem;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px #808080;
}
.txtWrapperHeadline {
    font-family: Segoe Print;    
    font-weight: bold;
    font-size: 2rem;
    justify-content: center;
}
.imgWrapperWrapper {
    width: 120%;
    z-index: 0;
}
.imgWrapper {
    width: 70%;
    margin-left: 10%;
    margin-right: 20%;
    text-align: center;
    border: solid 3px #8DA290;
}
@media only screen and (min-width: 640px){
    .txtWrapperSubtitle {
        font-size: 1rem;
        font-weight: bold;
    }
    .txtWrapperHeadline {
        font-family: Segoe Print;    
        font-weight: bold;
        font-size: 2.25rem;
        justify-content: center;
    }
    .imgWrapper {
        width: 70%;
        margin-left: 9%;
        margin-right: 21%;
        text-align: center;
        border: solid 4px #8DA290;
    }
}
@media only screen and (min-width: 800px){
    .txtWrapperSubtitle {
        font-size: 1rem;
        font-weight: bold;
        justify-content: center;
    }
    .txtWrapperHeadline {
        font-family: Segoe Print;    
        font-weight: bold;
        font-size: 2.5rem;
        justify-content: center;
    }
    .imgWrapper {
        width: 70%;
        margin-left: 8%;
        margin-right: 22%;
        text-align: center;
        border: solid 4px #8DA290;
    }
}
@media only screen and (min-width: 961px){
    .txtWrapperSubtitle {
        font-size: 1.5rem;
        font-weight: bold;
        justify-content: center;
    }
    .txtWrapperHeadline {
        font-family: Segoe Print;    
        font-weight: bold;
        font-size: 3rem;
        justify-content: center;
    }
    .imgWrapper {
        margin: auto;
        text-align: center;
        border: solid 5px #8DA290;
    }
}
@media only screen and (min-width: 1081px){
    .txtWrapperSubtitle {
        font-size: 1.5rem;
        font-weight: bold;
        justify-content: center;
    }
    .txtWrapperHeadline {
        font-family: Segoe Print;    
        font-weight: bold;
        font-size: 3.5rem;
        justify-content: center;
    }
    .imgWrapper {
        margin: auto;
        text-align: center;
        border: solid 5px #8DA290;
    }
}
</style>