<template>
<div>

  <div class="d-flex logoWrapper mb-n10">
    <v-img class="svgWrapper">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 65">
      <g id="Logo" transform="translate(-850.5 -186.5)">
        <g id="groups_black_24dp" transform="translate(850.5 186.5)">
          <g id="location_on_black_24dp">
            <ellipse id="Ellipse_2" data-name="Ellipse 2" cx="18.683" cy="20.358" rx="18.683" ry="20.358" transform="translate(15.275 6.943)" fill="#8da290"/>
            <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="6.792" cy="6.813" rx="6.792" ry="6.813" transform="translate(27.166 19.076)" fill="#fff"/>
            <path id="Polygon_3" data-name="Polygon 3" d="M11.163,0,22.325,19.064H0Z" transform="translate(45.121 59.426) rotate(180)" fill="#8da290"/>
            <path id="Path_1" data-name="Path 1" d="M0,0H67.916V68.128H0Z" fill="none"/>
            <path id="Path_2" data-name="Path 2" d="M25.375,2A20.19,20.19,0,0,0,5,22.03c0,15.022,20.375,37.2,20.375,37.2S45.75,37.052,45.75,22.03A20.19,20.19,0,0,0,25.375,2ZM10.821,22.03a14.556,14.556,0,0,1,29.107,0c0,8.241-8.383,20.573-14.553,28.271C19.321,42.66,10.821,30.185,10.821,22.03Z" transform="translate(8.583 3.45)" fill="#8da290"/>
          </g>
          <rect id="Rectangle_1" data-name="Rectangle 1" width="55.931" height="56.249" transform="translate(5.875 22.712)" fill="none"/>
          <g id="Group_2" data-name="Group 2" transform="translate(5.875 36.732)">
            <path id="Path_3" data-name="Path 3" d="M9.318,22.357a4.674,4.674,0,1,0-4.659-4.674A4.68,4.68,0,0,0,9.318,22.357Zm2.632,2.57a16.217,16.217,0,0,0-2.632-.234,16.148,16.148,0,0,0-6.476,1.355A4.7,4.7,0,0,0,0,30.372v3.669H10.483V30.279A10.537,10.537,0,0,1,11.95,24.928Zm34.639-2.57a4.674,4.674,0,1,0-4.659-4.674A4.68,4.68,0,0,0,46.59,22.357Zm9.318,8.015a4.7,4.7,0,0,0-2.842-4.323,15.79,15.79,0,0,0-9.108-1.122,10.537,10.537,0,0,1,1.468,5.351v3.762H55.907Zm-18.077-6.5a24.263,24.263,0,0,0-9.877-2.1,24.653,24.653,0,0,0-9.877,2.1,6.984,6.984,0,0,0-4.1,6.4v3.762H41.931V30.279A6.984,6.984,0,0,0,37.831,23.876ZM18.8,29.368c.21-.537.3-.911,2.12-1.612a19.565,19.565,0,0,1,14.07,0c1.794.7,1.887,1.075,2.12,1.612Zm9.155-18.694a2.337,2.337,0,1,1-2.329,2.337,2.34,2.34,0,0,1,2.329-2.337m0-4.674a7.01,7.01,0,1,0,6.988,7.01A6.99,6.99,0,0,0,27.954,6Z" transform="translate(0 -6)" fill="#f2cbbb"/>
          </g>
        </g>
        <ellipse id="Ellipse_3" data-name="Ellipse 3" cx="5.875" cy="5.06" rx="5.875" ry="5.06" transform="translate(878.465 225.451)" fill="#f2cbbb"/>
        <rect id="Rectangle_2" data-name="Rectangle 2" width="20.21" height="5.884" transform="translate(874.235 243.338)" fill="#f2cbbb"/>
      </g>
    </svg>
    </v-img>
    
  </div>

  
 </div>

</template>

<script>
export default {

}
</script>

<style scoped>
.svgWrapper {
  z-index: 10 !important;
}
svg {
    width: auto;
    height: 80px;
    display: block;
    margin: auto;
}
@media only screen and (min-width: 640px){
  svg {
    width: auto;
    height: 100px;
    display: block;
    margin: auto;
  }
}
@media only screen and (min-width: 800px){
  svg {
    width: auto;
    height: 110px;
    display: block;
    margin: auto;
  }
}
@media only screen and (min-width: 961px){
  svg {
    width: auto;
    height: 120px;
    display: block;
    margin: auto;
  }
}
@media only screen and (min-width: 1081px){
  svg {
    width: auto;
    height: 140px;
    display: block;
    margin: auto;
  }
}
</style>