<template>
<div class="navWrapper">
    <!-- mobile menu sidebar -->
   <v-navigation-drawer disable-resize-watcher v-model="sidebar" app class="hidden-lg-and-up">
      <!-- <v-list-item> -->
          <v-col>
            <!-- logo + router-link to landing page -->
            <div class="d-flex justify-center">
              <router-link to="/" tag="span" style="cursor: pointer" class="Logo">
              <img src="@/assets/logo.svg">
              </router-link>
            </div>
            <!-- mobile menu list -->
            <v-list class="mobileMenu">
              <!-- map button -->
              <v-list-item
              class="primary--text text-capitalize text-left font-weight-bold mt-2"
              text
              to="/karte">
                           
                  <v-list-item-icon>
                    <v-icon class="primary--text pl-4">mdi-map-legend</v-icon>
                  </v-list-item-icon>
                  <v-list-item-title class="primary--text ml-4">
                    Karte
                  </v-list-item-title>               
                
              </v-list-item>


              <!-- postslist button -->
              
              <v-list-group
              :value="false"
              no-action
              >
                <template v-slot:activator>
                  <v-list-item
                  class="primary--text text-capitalize text-left font-weight-bold"
                  text>                                
                    <v-list-item-icon>
                      <v-icon>mdi-note</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>
                      Einträge
                    </v-list-item-title>                
                  </v-list-item>
                </template>
      
                <v-list-item
                  v-for="([title, icon, path], i) in subMenu"
                  :key="i"
                  class="primary--text text-capitalize text-left"
                  text
                  :to="path">
                  <v-list-item-title v-text="title"></v-list-item-title>
                  <v-list-item-icon>
                      <v-icon v-text="icon" class="primary--text text-capitalize text-left"></v-icon>
                    </v-list-item-icon>
                </v-list-item>

              </v-list-group>


              <!-- link to admin section -->
              
              <v-list-item
                class="primary--text text-capitalize text-left font-weight-bold"
                text
                v-if="adminOrMod"
                to="/verwaltung/eintraege"
              >                                
                  <v-list-item-icon>
                    <v-icon class="primary--text pl-4">mdi-key-variant</v-icon>
                  </v-list-item-icon>
                  <v-list-item-title class="primary--text ml-4">
                    Verwaltung
                  </v-list-item-title>   
              </v-list-item>

              <!-- user profile -->
              <v-list-item
                class="primary--text text-capitalize text-left font-weight-bold"
                text
                v-if="!this.$store.state.user"
                to="/anmelden"
              >
              <v-list-item-icon>
                <v-icon
                  class="primary--text pl-4"
                >
                  mdi-lock-open</v-icon>
              </v-list-item-icon>
                  Anmelden
              </v-list-item>
              
              <v-list-group
              :value="false"
              no-action
              v-else
              >
                <template v-slot:activator>
                  <v-list-item
                  class="primary--text text-capitalize text-left font-weight-bold text-truncate"
                  text>                                
                    <v-list-item-icon>
                      <v-icon>mdi-account</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>
                      {{$store.state.user.username}}
                    </v-list-item-title>                
                  </v-list-item>
                </template>

                <v-list-item
                class="primary--text text-capitalize text-left"
                text
                to="/profil:id"
                >
                  <v-list-item-title>
                    Userdaten
                  </v-list-item-title>
                  <v-icon class="primary--text text-capitalize text-left">
                    mdi-pencil
                  </v-icon>
                </v-list-item>
      
                <v-list-item
                  v-for="([title, icon], i) in logout"
                  :key="i"
                  class="primary--text text-capitalize text-left"
                  text
                  @click = "dispatchLogout()"
                >
                  <v-list-item-title v-text="title"></v-list-item-title>
                  <v-list-item-icon>
                      <v-icon v-text="icon" class="primary--text text-capitalize text-left"></v-icon>
                    </v-list-item-icon>
                </v-list-item>

              </v-list-group>





            </v-list>
          </v-col>
    </v-navigation-drawer>
    <!-- desktop navbar -->
    <v-app-bar light elevation="0" fixed :color="appNavColor">
      <!-- logo + router-link to landing page -->
      <div>
        <router-link to="/" tag="span" style="cursor: pointer" class="Logo d-flex">
         <img src="@/assets/logo.svg">
         <span class="primary--text">
          {{ appTitle }}
         </span>
        </router-link>
      </div>
      <v-spacer></v-spacer>
      <!-- desktop menu buttons -->
      <div class="hidden-sm-and-down desktopMenu">
        <router-link
        tag="span"
        to="/karte">
        <v-btn
        class="primary--text text-capitalize font-weight-bold pa-6"
        text>
          <v-icon left dark>mdi-map-legend</v-icon>
          Karte
        </v-btn>
        </router-link>

        <!-- dropDownMenu start -->
        <v-menu
        open-on-hover
        bottom
        offset-y
        tile
        nudge-bottom="14"
        >
          <template v-slot:activator="{ on, attrs }">
          <router-link
          tag="span"
          to="/eintraege"
          >
          <v-btn
          class="primary--text text-capitalize font-weight-bold pa-6"
          text
          v-bind="attrs"
          v-on="on"
          >
            <v-icon left dark>mdi-note</v-icon>
            Einträge
          </v-btn>
          </router-link>
          </template>

        <v-list>
        <v-list-item
          v-for="([title, icon, path], i) in subMenu"
          :key="i"
          class="primary--text text-capitalize text-left"
          text
          :to="path">
          <v-list-item-title v-text="title"></v-list-item-title>
          <v-list-item-icon>
              <v-icon v-text="icon" class="primary--text text-capitalize text-left"></v-icon>
            </v-list-item-icon>
        </v-list-item>
      </v-list>
    

        </v-menu>
        <!-- dropDownMenu end -->

        <router-link v-if="adminOrMod"
        tag="span"
        to="/verwaltung/eintraege"
        >
          <v-btn
          class="primary--text text-capitalize font-weight-bold pa-6"
          text>
            <v-icon left dark>mdi-key-variant</v-icon>
            Verwaltung
          </v-btn>
        </router-link>
        
        <router-link v-if="!this.$store.state.user"
        tag="span"
        to="/anmelden"
        >
          <v-btn
          class="primary--text text-capitalize font-weight-bold pa-6"
          text>
            <v-icon left dark>mdi-lock-open</v-icon>
            Anmelden
          </v-btn>
        </router-link>

        <v-menu v-else
        open-on-hover
        bottom
        offset-y
        tile
        nudge-bottom="14"
        >
          <template v-slot:activator="{ on, attrs }">
          <router-link
          tag="span"
          to="/profil:id"
          >
          <v-btn
          class="primary--text text-capitalize font-weight-bold pa-6"
          text
          v-bind="attrs"
          v-on="on"
          >
            <v-icon left dark>mdi-account</v-icon>
            {{$store.state.user.username}}
          </v-btn>
          </router-link>
          </template>

          

          <v-list>
            <v-list-item
              v-for="([title, icon], i) in logout"
              :key="i"
              class="primary--text text-capitalize text-left"
              text
              @click = "dispatchLogout()">
              <v-list-item-title v-text="title"></v-list-item-title>
              <v-list-item-icon>
                  <v-icon v-text="icon" class="primary--text text-capitalize text-left"></v-icon>
                </v-list-item-icon>
            </v-list-item>
          </v-list>
    

        </v-menu>

      </div>
      <!-- mobile hamburger menu button -->
      <span class="hidden-md-and-up">
        <v-app-bar-nav-icon @click="sidebar = !sidebar">
        </v-app-bar-nav-icon>
      </span>
    </v-app-bar>

    
</div>
</template>

<script>
export default {
    data: () => ({
        appNavColor: 'white',
        appTitle: 'Grätzlmap',
        sidebar: false,
        subMenu: [
        ['Alle Einträge', 'mdi-view-list', '/eintraege'],
        ['Kategorien', 'mdi-grass', '/kategorien'],
        ['Bezirke', 'mdi-crosshairs-gps', '/bezirke'],
        ],
        logout: [
        ['Logout', 'mdi-logout']
        ]
    }),
    methods: {
      dispatchLogout(){
        this.$store.dispatch('logout');
        this.$router.push('/');
      }
    },
    computed: {
      adminOrMod(){
        //checking the following if is necessary, as trying to read user.role would throw an error if user === null and not refresh the navbar
        if (this.$store.state.user){
          return (this.$store.state.user.role === 'ADMIN' || this.$store.state.user.role === 'MODERATOR')
        }else{
          return false
        }
        
      }
    }
}
</script>

<style>
.v-icon.v-icon {
    color: #8DA290 !important;
}
.v-menu {
  z-index: 30;
}
.v-navigation-drawer {
  z-index: 30 !important;
  }
.navWrapper {
  z-index: 30;
}
.desktopMenu {
    margin-right: 50px;
}
.Logo {
    font-family: Segoe Print;    
    font-weight: bold;
    font-size: 2rem;
}
.Logo img {
    max-width: 100%;
    height: 50px;
    margin-right: 12px;
}
@media only screen and (min-width: 961px) {
  .Logo img {
    margin-left: 50px;
  }
}

</style>