<template>
<div class="postStyle">
  <v-container
  class="ps-"
  ripple
  @click="$router.push({path: `/eintrag${post.id}`})" style="cursor: pointer"
  >
    <v-card ripple class="secondary">
      <v-row>
        <div >
          <v-row class="row">
            <v-col class="ms-8">              
              <v-img v-if="post.image.substring(post.image.length - 13) != 'stockPost.jpg'" :src="post.image" alt="" max-height="260" height="260" max-width="250" width="250" position="covers" />
              <Map class="dontClickMe" height="260px" width="250px" :latitude="post.latitude" :longitude="post.longitude" v-else/>
            </v-col>
          </v-row>
        </div>       
        <v-col class="mx-5">
          <div>
            <v-row>
              <h1 class="primary--text me-5">{{post.title}}</h1>
              <h5 class="catStyle mt-5"><span class="font-italic">{{post.category}}</span></h5>
          
            </v-row>
          </div>
          <div class="mt-8">
            {{post.text}}<br><br>              
            <v-icon>
              mdi-account
            </v-icon>
            <span class="primary--text">
              {{post.username}} 
            </span>
            <span class="primary--text ms-14">
              <v-icon>
                mdi-calendar-range
              </v-icon>
              {{date}}
            </span><br><br>
            <span class="primary--text">
              Gefunden in: 
            </span>
            <span>
              {{ post.postalCode }} Wien
            </span>
            <span class="ms-14">
              {{post.likes}}
            </span>
            <v-icon class="mb-2">
              mdi-thumb-up
            </v-icon>
            {{post.dislikes}} 
            <v-icon>
              mdi-thumb-down
            </v-icon><br>
          </div>
        </v-col>   
      </v-row>
    </v-card>
  </v-container>
</div>
</template>

<script>
import Map from '@/components/Map'
export default {
  name: 'App',
  data:() => ({
  }),
  components: {
    Map
  },
  props: {
    post: Object,
  },
  computed: {
    date() {
      let formatedDate = new Date(this.post.creationDate)
      let month
      switch (formatedDate.getMonth()) {
        case 0: 
          month = 'Jänner';
          break
        case 1: 
          month = 'Februar';
          break
        case 2: 
          month = 'März';
          break     
        case 3: 
          month = 'April';
          break     
        case 4: 
          month = 'Mai';
          break     
        case 5: 
          month = 'Juni';
          break     
        case 6: 
          month = 'Juli';
          break     
        case 7: 
          month = 'August';
          break     
        case 8: 
          month = 'September';
          break     
        case 9: 
          month = 'Oktober';
          break
        case 10: 
          month = 'November';
          break
        case 11: 
          month = 'Dezember';
          break     
      }
      return `${formatedDate.getDate()}. ${month} ${formatedDate.getFullYear()}`
    }
  }
}
</script>

<style scoped>
.dontClickMe {
  pointer-events: none;
}
</style>