<template>
<div>
  <v-card-title
    class="cardTitle"
  >
    <span class="pt-4">
      Registrieren:
    </span>
  </v-card-title>
  
  <form
    novalidate
    @submit.prevent="registerMe"
  >
   
    <v-text-field
        v-model="username"
        :error-messages="usernameErrors"
        label="Username"
        required
        class="mt-4 ms-4 me-4"
    >
    </v-text-field>

    <v-text-field
        v-model="email"
        :error-messages="emailErrors"
        label="E-mail"
        required
        class="mt-4 ms-4 me-4"
    >
    </v-text-field>


    <v-text-field
        v-model="password"
        :error-messages="passwordErrors"
        label="Passwort"
        required
        type="password"
        class="mt-4 ms-4 me-4"
    >
    </v-text-field>

    <v-text-field
        v-model="repeatPassword"
        :error-messages="passwordErrors"
        label="Passwort wiederholen"
        required
        type="password"
        class="mt-4 ms-4 me-4"
    >
    </v-text-field>
    <div class="d-flex justify-center">
      <v-checkbox
        v-model="checkbox"
        :error-messages="checkboxErrors"
        required
      >
        <template v-slot:label>
        <div>
          Ich stimme den 
          <v-tooltip
            bottom
          >
            <template v-slot:activator="{ on }">
              <a
                target="_blank"
                href="http://localhost:8081/nutzungsbedingungen"
                @click.stop
                v-on="on"
              >
                Nutzungsbedingungen</a>
            </template>
            Klicken um Nutzungsbedingungen in neuem Fenster zu öffnen
          </v-tooltip>
           zu
        </div>
      </template>
      </v-checkbox>
    </div>

    <div class="error--text text-center">
      {{ registrationError }}
    </div>
    <!-- submit button -->
    <div class="regBtnWrapper mt-8 mb-4">
    <v-btn
    class="primary text-capitalize btnStyle"
    type="submit"
    @click="validateMe"
    >
        Registrieren
    </v-btn>
    <p class="error--text mt-4" v-if="submitStatus === 'ERROR'">Bitte das Formular korrekt ausfüllen!</p>
    </div>

  </form>
  <v-card-text class="text-center">
      <div class="pb-4">
      <router-link to="/anmelden">
      Bereits registriert? Hier anmelden!
      </router-link>
      </div>
  </v-card-text>
</div>
</template>

<script>
import { required, minLength, maxLength, sameAs, email } from 'vuelidate/lib/validators'

export default {
    name: 'Register',
    data: () => ({
        username: '',
        email: '',
        password: '',
        repeatPassword: '',
        registrationError: '',
        checkbox: false,
        submitStatus: null
    }),
    validations: {
        username: { required, maxLength: maxLength(20) },
        email: { required, email },
        password: { required, minLength: minLength(8), maxLength: maxLength(26) },
        repeatPassword: { sameAsPassword: sameAs('password') },
        checkbox: {
          checked (val) {
            return val
          }
        }
    },
    methods: {
        validateMe () {
        this.$v.$touch()
          if (this.$v.$invalid) {
            this.submitStatus = 'ERROR'
          } else {
            this.submitStatus = null
          }
        },
        async registerMe () {
        if (this.submitStatus === null) {
          try {
            await this.$store.dispatch('register', {
              username: this.username,
              email: this.email,
              password: this.password
            })
            this.$v.$reset();
            this.$store.dispatch('getSnackbar', {text: 'Hallo, ' + this.$store.state.user.username})
            this.$router.push('/karte')
          } catch (err) {
            if (err instanceof Error && err.response.status === 409) {
              this.registrationError = 'Username oder E-Mail existiert bereits'
            } else {
              console.error(err)
              this.registrationError = 'Ein unbekannter Fehler ist aufgetreten'
            }
          } 
        }
      }
    },
    computed: {
        usernameErrors () {
            const errors = []
            if (!this.$v.username.$dirty) return errors
            !this.$v.username.maxLength && errors.push('Username darf nicht mehr als 20 Zeichen enthalten')
            !this.$v.username.required && errors.push('Username erforderlich')
            return errors
        },
        emailErrors () {
            const errors = []
            if (!this.$v.email.$dirty) return errors
            !this.$v.email.email && errors.push('Muss eine gültige E-Mail-Adresse sein')
            !this.$v.email.required && errors.push('E-mail-Adresse erforderlich')
            return errors
        },
        passwordErrors () {
            const errors = []
            if (!this.$v.password.$dirty) return errors
            !this.$v.password.required && errors.push('Passwort benötigt')
            !this.$v.password.minLength && errors.push('Passwort muss mindestens 8 Zeichen enthalten')
            !this.$v.password.maxLength && errors.push('Passwort darf nicht mehr als 26 Zeichen enthalten')
            !this.$v.repeatPassword.sameAsPassword && errors.push('Passwörter müssen übereinstimmen')
            return errors
        },
        checkboxErrors () {
            const errors = []
            if (!this.$v.checkbox.$dirty) return errors
            !this.$v.checkbox.checked && errors.push('Du musst zustimmen, um fortzufahren!')
            return errors
        }
    }

}
</script>

<style>
.v-text-field > .v-input__control > .v-input__slot::after {
    background-color: #8DA290 !important;
    border-color: #8DA290 !important;
}
.theme--light.v-input input, .theme--light.v-input textarea {
    color: #8DA290 !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot::before,
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot::before {
    border-color: #8DA290 !important;
}
.v-input__slot::before,
.theme--light.v-label {
    color: #8DA290 !important;
}
.regBtnWrapper {
    text-align: center;
}
.cardTitle {
    justify-content: center;
}
</style>
